#container{
    display: flex;
    height: 650px;
    width: 650px;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 80px;
    margin: 20px;
}
#content{
    display: flex;
}
#options{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.buttonStyle{
    background-color: white;
    color: gray;
    height: 40px;
    width: 130px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: solid;
    border-color: #E5E7EB;
    margin: 10px 0;
    align-self: center;
}
input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
    align-self: center;
   
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.on{
    border-color: grey;
}
p{
    margin-bottom: 3px;
    margin-top: 50px;
    display: flex;
}
img{
    width: 20px;
    height: auto;
    display: block;
    margin-left: 6px;
    
}
.sliderContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.valueContainer{
    margin-bottom: 6px;
}
#demo{
    font-size: 24px;
}
#slider{
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

